:root {
--White: hsl(0, 0%, 100%);
--Light: hsl(212, 45%, 89%);
--Grayish: hsl(220, 15%, 55%);
--Dark: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.content {
    padding: 15px;
    background-color: var(--White);
    border-radius: 10px;
    max-width: 330px;
    text-align: center;
}

h3 {
    padding: 20px 30px 5px;
    color: var(--Dark);
    font-weight: bold;
}

p {
    font-size: 15px;
    color: var(--Grayish);
    padding: 20px 30px 10px;
}

img {
    max-width: 100%;
}

